{%extends "layout.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>{{title}}-My Apps</title>
</head>
<body>
    <form class="form-horizontal" action="{{url_for('edit')}}" method="post">
        <div class="form-group">
            <label id="ID" class="control-label col-xs-2">ID</label>
            <div class="col-xs-10">
            <input type="text" class="form-control" name="ID" value="{{ID}}"/>
            </div>

        </div>
        <div class="form-group">
            <label id="StartDate" class="control-label col-xs-2">Start Date</label>
            <div class="col-xs-10">
            <input type="date" class="form-control" name="StartDate" value="{{StartDate}}" />
            </div>        
        </div>
            <div class="form-group">
                <label class="control-label col-xs-2" id="EndDate">End Date</label>
                <div class="col-xs-10">
                    <input type="date" class="form-control" name="EndDate" value="{{EndDate}}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2" id="Contents">Contents</label>
                <div class="col-xs-10">
                    <textarea class="form-control" type="Contents" name="Contents"></textarea>
                </div>
            </div>
            <div class="col-xs-6">
                <button class="btn btn-success btn-md" type="submit" value="Edit">Edit</button>

            </div>
    </form>
</body>
</html>
{% endblock %}