<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    you have successfully registered. To log in 
   
    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-6" for="name">{{form.name.label}}</label>
            <div class="col-md-6">
                <input type="text" id="name" placeholder="User name" value="{{form.name}}" />
            </div>
        </div>
        
       

    </form>
</body>
</html>