<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}-My application</title>
    <script src="/static/scripts/bootstrap.js"></script>
    <script src="/static/scripts/bootstrap.min.js"></script>
    <script src="/static/scripts/jquery-1.10.2.min.js"></script>
    <script src="/static/scripts//jquery-1.10.2.js"></script>
    <script src="/static/scripts/respond.js"></script>
    <script src="/static/scripts/modernizr-2.6.2.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/static/content//bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
    <link rel="logo" type="image/x-icon" href="/static/fonts/glyphicons-halflings-regular.eot" />
    <link rel="logo" type="image/svg" href="/static/fonts/glyphicons-halflings-regular.svg" />

</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
<div class="navbar-header">
    <a class="navbar-brand" href="{{url_for('index')}}"><span class="glyphicon glyphicon-heart"></span> My application</a>
</div>
            <ul class="nav navbar-nav">
                <li> <a href="{{url_for('index')}}">Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li> <a href="{{url_for('login')}}"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
                <li><a href="{{url_for('sign')}}"><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>
            </ul>
        </div>
             
    </nav>
    <div class="container body-content">
        {% block content %}{% endblock %}
        <hr />
        <footer>
            <p>&copy; {{ year }} - My Application</p>
        </footer>
    </div>
   
    {% block scripts %}{% endblock %}
</body>
</html>